# ----------------------------------------------
# PostgreSQL データベース設定
# ----------------------------------------------
POSTGRES_USER=transcendence
POSTGRES_PASSWORD=secure_password_here
POSTGRES_DB=transcendence_db
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

# ----------------------------------------------
# バックエンド設定（NestJS）
# ----------------------------------------------
# CSRFトークン署名キー（ランダムな文字列を設定）
# 生成方法: openssl rand -hex 32
CSRF_SECRET=csrf_secret_key_here

# JWT署名キー（ランダムな文字列を設定）
# 生成方法: openssl rand -hex 32
JWT_SECRET=jwt_secret_key_here

# バックエンドのポート
BACKEND_PORT=3000

# Node.js 環境（development / production）
NODE_ENV=development

# フロントエンドのURL（CORS設定用）
# Nginx経由でHTTPSアクセスする場合は https://localhost
FRONTEND_URL=https://localhost

# ----------------------------------------------
# フロントエンド設定（React + Vite）
# ----------------------------------------------
# バックエンドAPIのURL
# Nginx経由: https://localhost/api
# 直接アクセス（開発時）: http://localhost:3000
VITE_API_URL=https://localhost/api

# フロントエンドのポート
FRONTEND_PORT=3001

SKIP_AUTH=false

# ----------------------------------------------
# HashiCorp Vault 設定
# ----------------------------------------------
VAULT_ADDR=http://vault:8200
VAULT_TOKEN=myroot

# backend/.env
FORTY_TWO_CLIENT_ID=u-s4t2ud-d68d0f073205a9ac6d1a5544e2e8a11cec3ef006f564ec196e88e6404d48658a
FORTY_TWO_CLIENT_SECRET=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
FORTY_TWO_CALLBACK_URL=https://localhost/api/auth/42/callback